@font-face {
    font-family: "LatoLight";
    src: url("/singolo//assets/Lato-Light.ttf");
}

@font-face {
    font-family: "LatoRegular";
    src: url("/singolo/assets/Lato-Regular.ttf");
}

@font-face {
    font-family: "LatoBlack";
    src: url("/singolo/assets/Lato-Black.ttf")
}