body {
    margin: 0;
    
    background-color: rgb(45, 48, 58, 0.9);
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

header {
    display: flex;
    height: 89px;
    align-items: center;

    background-color: rgb(45, 48, 58) ;

    text-transform: uppercase;
    font-family: "LatoLight";
}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 0px 0 2px 40px;
}

.logo h1 {
    display: flex;
    margin: 0;

    font-size: 25px;
    color: #ffffff;
}

.logo p {
    display: flex;
    margin: 0 0 -3px -2px;

    font-size: 32px;
    font-weight: 900;
    color: rgb(214, 100, 94);
}

.menu {
     width: 820px;
     padding-right: 38px;
     padding-top: 3px;

}

.menu ul {
    display: flex;
    justify-content: flex-end;
    
}

.menu li {
    list-style-type: none;
}

.menu li a {
    font-size: 12px;
    text-decoration: none;
    
}

li:first-child .point::before {
    display: none;
}

#menu a.active {
    color: rgb(214, 100, 94);
    cursor: default;
}

#menu a:not(.active):hover {
    cursor: pointer;
    color: rgb(214, 100, 94);
    transition: all .2s ease-in-out;
}

.point {
    margin-left: 13px;
    
    color: #ffffff;
}

.point::before {
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: 0 14px 1px 0px;
    
    background-color: #494e62;
    
    border: 1px solid #494e62;
    border-radius: 50%;
    content: ""
    
}

/*.point:hover {
    color: rgb(214, 100, 94);
    transition: all .2s ease-in-out;
}
*/
.menu_home {

    color: rgb(214, 100, 94);
}

.menu_home:hover {
    text-decoration:underline ;
    
}

.header_line {
    background-color: #323746 ;
    height: 6px;
}

.slider {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 1020px;
    height: 593px;
    overflow: hidden;
    
    background-color: #f06c64 ;
}

.slider-container {
    width: 100%;
    
}

.slider_left {
    
    position: absolute;
    left: 5%;
}
.slider_left img, 
.slider_right img {
    opacity: 0.5;
    cursor: pointer;
}
.slider_left img:hover,
.slider_right img:hover{
    opacity: 1;
}
.slider_right {
    position: absolute;
    left: 95%;
}

.sliderItem {
    display: none;
    width: 100%;
    position: absolute;
    animation: 1s ease-in-out;
    top: 0;
    left: 0;
}

.sliderItem.active,
.sliderItem.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}



.slider_zone_vertical {
    position: relative;
    top: 55px;
    left: 140px;
}

.iphone_shadow {
    
    position: absolute;
    
}

.iphone_box {
    cursor: pointer;
    position: absolute;
    left: -2px;
    top: -1px;
}

.iphone_picture {
    cursor: pointer;
    position: absolute;
    top: 62px;
    left: 11px
}

.slider_zone_horizontal {
    position: relative;
    left: 440px;
    top: 160px;
}

.iphone_box_hor {
    cursor: pointer;
    position: relative;
    left: -2px;
    top: -1px;;
    
}

.iphone_picture_hor {
    cursor: pointer;
    position: absolute;
    left: 56px;
    top: 11px;
}

.slider_line {
    height: 7px ;
    background-color: #ea676b;
}

.wrapper_color{
    background-color: #f2f2f2;
    width: 1020px;
}

.wrapper_services {
    background-color: #f2f2f2;
    width: 940px;
    margin: 0 auto;
}

.services  {
    padding-top: 34px;
}

.services h2 {
    font-size: 30px;
    font-family: "LatoRegular";
    letter-spacing: 0.01em;
    margin-bottom: 18px;

    color: #666d89 ;
}

.services p {
    font-size: 18px;
    font-family: "LatoRegular";
    letter-spacing: -0.004em;
    line-height: 30px;

    color: #868da9;
}

.serv_list {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.serv_item {
    margin-right: 20px;
    margin-bottom: -8px;

    display: flex;
    width: 300px;
    align-items: center;
}

.serv_item_pic {
    margin-top: -10px;
}

.serv_item_text {
    margin-top: 6px;
    margin-left: 18px;
}
.serv_item_text h3 {
    margin-bottom: 0px;
    
    font-size: 18px;
    font-family: "LatoRegular";
    color: #666d89 ;
}

.serv_item_text p {
    margin-top: 10px;
    overflow: hidden;
    max-height: 200px;

    font-size: 12px;
    line-height: 21px;
    text-align: justify;
    font-family: "LatoRegular";
    text-overflow: clip;
    
    color: #868da9;
}

.foot {
    height: 56px;
}
.wrapper_main {
    width: 1020px;
    margin: 0 auto;
    margin-top: 7px;
    background-color: #2d303a;
}

.wrapper_main_header {
    padding-top: 59px;
    margin-left: 41px;
}

.wrapper_main_header h2 {
    margin: 0 0 22px 0;

    font-family: "LatoLight";
    font-size: 30px;
    letter-spacing: 0.03em;


    color:#666d89;
}

.wrapper_main_header p {
    margin: 0;

    font-family: "LatoLight";
    letter-spacing: 0.009em;
    font-size: 18px;
    color:#666d89;
}

nav {
    display: flex;

    padding-bottom: 6px;

    
}

nav ul {
    padding: 0;
    margin-top: 16px;
}
#tabs a {
    margin-right: 10px;
    padding: 5px 6px 4px 7px;

    font-family: "LatoLight";
    font-size: 9px;
    letter-spacing: 0.17em;
    text-decoration: none;
    color:#666d89;
    border: 1px solid #666d89;
    border-radius: 10%;
    cursor: pointer;
    
    
}

#tabs a.lightning {
    color:#c5c5c5;
    border: 1px solid #c5c5c5;
    cursor: default;
}

#tabs a:not(.lightning):hover {
    color:#c5c5c5;
    border: 1px solid #c5c5c5;
    cursor: pointer;
}

.main_img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 980px;
    align-content: space-between;
    margin-left:30px ;
    padding-bottom: 53px;
}




#random img {
   /*margin: 0 20px 20px 0;*/
   margin: 10px;
}


.imgBorder {
    margin: 5px !important;
    border: 5px solid #F06C64;
}

.wrapper_about {
    width: 1020px;
    margin: 0 auto;
    padding-top: 59px;
    

    background-color: #f2f2f2;
}

.wrapper_about_container {
    margin-left: 40px;
}

.wrapper_about h2 {
    margin: 0;
    margin-left: 1px;
    font-family: "LatoRegular";
    font-size: 30px;
    color: #666d89;
}

.wrapper_about p {
    margin-top: 18px;

    font-family: "LatoLight";
    letter-spacing: -0.014em;
    font-size: 19px;    
    line-height: 30px;
    color: #666d89;
}

.wrapper_about h4 {
    margin-top: 10px;
    font-family: "LatoRegular";
    font-size: 20px;
    color: #666d89;
    letter-spacing: -0.05em;
}





.people_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1000px;
    align-content: space-between;
    margin-top: 44px;
    padding-bottom: 68px;

}

.people {
    width: 300px;
    margin-right: 20px;
}

.people p {
    font-size: 13px;
    line-height: 20px;
    margin-top: -17px;
    letter-spacing: -0.009em;
}

.people_link {
    margin-top: 24px;

}

.people_linkd {
    margin-top: -8px;
}

.people_linkd img {
    margin-right: 4px;
    cursor: pointer;
}

.people_linkd img:hover {
    opacity: 0.5;
}

.people_link img {
    margin-right: 4px;
    cursor: pointer;
}

.people_link img:hover {
    opacity: 0.5;
}

.wrapper_footer {
    width: 1020px;
    padding-top: 70px;
    margin: 0 auto;
    margin-top: 1px;
    background-color: #f06c64;
}

.wrapper_footer h2 {
    margin-top: 0;
    margin-left: 40px;
    font-size: 30px;
    line-height: 14px;
    color: #f0d8d9;
    font-family: 'LatoBlack';
    font-weight: 900;
    text-align: left;
}

.txtblock {
    font-size: 18px;
    margin-top: 29px;
    margin-left: 40px;

   
    letter-spacing:+0.009em ;
    line-height: 30px;
    color:  #f0d8d9;
    font-family: 'LatoLight';
    font-weight: 300;
}

.info {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: -15px;

}

form {
    width: 620px;
    margin-top: 10px;   
}

form p {
    margin-top: 10px;
    

}

form p input {
    cursor: pointer;
}
.info_area input{
    height: 36px; 
    width:604px;
    margin-top:16px ;
    padding-left:15px;
    border: 0px solid #f06c64;

    border-radius: 5px;
    

    background-color: #d6564f;
    line-height: 30px;
    font-size: 12px;
    letter-spacing:-0.004em ;
    font-family: 'LatoRegular';
    font-weight: 300;
}

.info_area textarea {
    width:602px;
    height:190px;
    margin-top:16px ;
    padding-left:15px;
    padding-top:10px ;
    color: #f48c8f;
    background-color: #d6564f;
    border: 0px solid #f06c64;

    border-radius: 5px;
    letter-spacing: -0.14em;
    resize: none;
}
input::-webkit-input-placeholder { color: #f48c8f; }
textarea::-webkit-input-placeholder { color: #f48c8f; }

.info_txt {
    margin-top: 2px;
    margin-left: 20px;
}

.info_txt h3 {
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 4px;


    letter-spacing:+0.03em ;
    color:  #f0d8d9;
    font-family: 'LatoLight';
    font-weight: 900;
    text-align: justify;
}

.info_txt p {
    word-wrap: break-word;
    
    
    font-size: 12px;
    margin-top:3px;
    line-height: 22px;
    color:  #f0d8d9;
    font-family: 'LatoLight';
    font-weight: 300;
    text-align: justify;
}

.info_txt ul {
    list-style-image: url('/singolo//assets/location.png');
    margin-left: -22px;
    padding-top: 5px;
}

.info_txt a {
    padding-left: 5px;
    letter-spacing: -0.0005em;
    text-decoration: none;
    color: #f0d8d9;
}

.adress {
    list-style-image: url('/singolo/assets/location.png');
    margin-left: -1px;
    padding-top: 1px;
}

.tel {
    list-style-image: url('/singolo/assets/phone_little.png');
    margin-left: 1px;
    margin-top: 3px;
}

.mail {
    list-style-image: url('/singolo//assets/mail.png');
    margin-left: 2px;
    margin-top: 4px;
}

.footer_line {
    height: 6px;
    background-color: #ea676b ;
}

footer {
    display: flex;
    padding-top: 23px;
    padding-bottom: 17px;


    background:#2D303A;
    justify-content: space-between;
}

footer p {
    font-size: 12px;
    line-height: 6px;
    color: #666d89;
    font-family: "LatoLight";
    font-weight: 400;
    text-align: left;
    margin-left: 42px;
}

.fot_img {
    margin-right: 40px;
}

.fot_img img {
    margin-left: 4px;
    cursor: pointer;
}

.fot_img img:hover {
    opacity: 0.5;
}

.message {    
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgb(45, 48, 58, 0.9);
    
}

.hide {
    display: none;
}

.message-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 21%;
    height: 39%;
    top: 30%;
    margin: 0 auto;

    border: 1px solid #ffffff;
    border-radius: 15% ;
    opacity: 1;
    color: #ffffff;
    font-size: 20px;
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/81-yKbVND-L._SY355_.png');
    
    
}

.message-area button {
    width: 30%;
    
}

